@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  margin: 0;
  background-color: rgb(245, 248, 250);
}

.sticky-column {
  position: sticky;
  left: 0;
  background-color: white;
  /* Asegúrate de que el fondo sea el mismo que el fondo de la tabla */
  z-index: 1;
  /* Asegúrate de que esté encima de otras columnas */
}

.sticky-column-header{
  position: sticky;
    left: 0;
    /* Asegúrate de que el fondo sea el mismo que el fondo de la tabla */
    z-index: 1;
    /* Asegúrate de que esté encima de otras columnas */
}